/*%%%%%%%%% TEMPERATUR THERMOMETER%%%%%%%%%%%*/

.temp_circle {
	height: 30px;
	width: 30px;
	background-color: rgb(239, 58, 44);
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.temp_balken_outer {
	width: 16px;
	height: 35px;
	background-color: #96bade;
	position: absolute;
	bottom: 20px;
	left: 7px;
	border-radius: 10px;
}

.temp_balken_inner {

	width: 16px;
	height: 28px;
	background-color: rgb(239, 58, 44);
	position: absolute;
	bottom: 0px;
	

	/*	background-color circle und temp_balken_inner bei -20°C: rgb(77, 101, 224)
	background-color circle und temp_balken_inner bei 40°C:  rgb(239, 58, 44)

	height .temp_balken_inner bei -20°C: 7px
	height .temp_balken_inner bei 40°C: 28px;

*/
}

.cont_flex_icons {

	display: flex;
	/* or inline-flex */
	flex-direction: row;
	position: relative;
	margin-left: 10px;
   
}
